/* GAME SETTINGS SCREEN */
[class^='map-mode-select_container__'],
[class^='map-selector_divider__'] {
  display: none !important;
}

[class^="header-desktop_desktopSectionLeft__"] > *:not(:first-child) {
  display: none;
}

[class^='map-selector_selector__'] {
  display: flex;
}

/* Hide promo and daily challenge from menu  */
[class^="quick-search_wrapper__"] + * {
  display: none !important;
}

/* Start page tweaks */
[class^='startpage_button__'],
[class^='signed-in-start-page_dailyReminderContainer__'] {
  display: none;
}


/* Hides friends list bar */
[class^='version4_sidebar__'] {
  display: none;
}
[class^='version4_content__'] {
  max-width: 100% !important;
}

/* Hide results overlay */
[class^='result-overlay_overlay__'],
[class^='result-overlay_overlayContent__'],
[class^='result-overlay_overlayXpBar__'],
[class^='result-layout_adWrapper__'],
[class^='standard-final-result_challengeWrapper__'] {
  display: none !important;
}

[class^='styles_friendChatButton__'] {
  display: none;
}

/* removes game breakdown button */
[class^='standard-final-result_wrapper__'] > div:first-child {
  display: none;
}
[class^='round-indicator_roundIndicator__'] {
  width: 150px;
}

/* CG Guess Markers InfoWindow */
[data-qa="correct-location-marker"] {
  position: relative;
  z-index: 999;
}
/* change opacity of correct-location-marker on hover */
[data-qa="correct-location-marker"]:hover {
  opacity: 0.4;
}

/* Info Window */
.gm-style-iw-chr {
  display: none !important;
}
.gm-style .gm-style-iw-d {
  overflow: auto !important;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.gm-style-iw-d .username {
  font-size: 16px;
}
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-tc::after {
  background: rgba(0, 0, 0, 0.5) !important;
}
.gm-style .gm-style-iw-c {
  padding: 6px 8px !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background: transparent !important;
}
.gm-style-cc,
#satelliteCanvas .gmnoprint {
  display: none;
}

.guess-map__canvas > div > div {
  background: rgba(0, 0, 0, 0.5) !important;
}
.gm-style-mtc :is(button, ul, li) {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
}
.gm-style-mtc img {
  background: #22da8d !important;
}
.ssQIHO-checkbox-menu-item span span {
  background-color: #fff !important;
}
