/* GAME SETTINGS SCREEN */
[data-qa='game-type-challenge'],
[data-qa='game-type-single-player'] {
  display: none !important;
}

[class^='play_map__'] {
  height: 9rem !important;
}
[class^='start-standard-game_body__'] {
  margin-top: 0 !important;
}

/* Hides friends list bar */
[class^='version4_sidebar__'] {
  display: none;
}
[class^='version4_content__'] {
  max-width: 100% !important;
}

/* Hide promo and daily challenge from menu  */
[class^='header_promoDealButtonWrapper'] {
  display: none !important;
}

[class^='header_context__'] > :nth-child(3) {
  display: none !important;
}
[class^='header_loginButton__'] {
  display: block !important;
}

/* Hide Return to Home Top Left menu */
[class^='header_mainNavigation__'] {
  display: none !important;
}

/* Hide community page menu links */
[class^='community-navigation_tabsWrapper__'] a:not([href='/community/maps']) {
  display: none;
}

/* Hide results overlay */
[class^='result-overlay_overlay__'],
[class^='result-overlay_overlayContent__'],
[class^='result-overlay_overlayXpBar__'],
[class^='result-layout_adWrapper__'],
[class^='standard-final-result_challengeWrapper__'] {
  display: none !important;
}

[class^='styles_friendChatButton__'] {
  display: none;
}

/* removes game breakdown button */
[class^='standard-final-result_wrapper__'] > div:first-child {
  display: none;
}
[class^='round-indicator_roundIndicator__'] {
  width: 150px;
}

/* CG Guess Markers InfoWindow */
[data-qa="correct-location-marker"] {
  position: relative;
  z-index: 999;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-tc::after {
  background: rgba(0, 0, 0, 0.5) !important;
}

.gm-style .gm-style-iw-c {
  padding: 6px 8px !important;
}

.gm-style .gm-style-iw-d {
  overflow: auto !important;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}
.gm-style-iw-d .username {
  font-weight: 400;
}
.gm-ui-hover-effect {
  display: none !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background: transparent !important;
}
.gm-style-cc,
#satelliteCanvas .gmnoprint {
  display: none;
}

.guess-map__canvas > div > div {
  background: rgba(0, 0, 0, 0.5) !important;
}
.gm-style-mtc :is(button, ul, li) {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
}
.gm-style-mtc img {
  background: #22da8d !important;
}
.ssQIHO-checkbox-menu-item span span {
  background-color: #fff !important;
}

/* CUSTOM SCRIPTS UI */
[class^='start-standard-game_settings__'] {
  margin-top: 0;
}

.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.625rem;
  background: #a19bd9;
  margin: 1.25rem 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: inset 0 0.0625rem 0 0 #a19bd9;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #7950e5;
  cursor: pointer;
}
.custom-slider::-moz-range-thumb {
  box-shadow: inset 0 0.0625rem 0 0 #a19bd9;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #7950e5;
  cursor: pointer;
}
