/******** COLORS ********/
:root {
  --primary: #59f3b3;
  --danger: #f0625d;
  --warning: #ffae00;
  --bg-dark-transparent: rgba(0, 0, 0, 0.4);
}
.primary {
  color: var(--primary);
}
.danger {
  color: var(--danger);
}
.warning {
  color: var(--warning);
}
.bg-primary {
  background: var(--primary);
}
.bg-danger {
  background: var(--danger);
}
.bg-warning {
  background: var(--warning);
}

/******** SPACING ********/
.relative {
  position: relative;
}
.flex {
  display: flex;
  /* align-items: center; */
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.ml-05 {
  margin-left: 0.5rem;
}
.mb-03 {
  margin-bottom: 0.3rem;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.my-1 {
  margin: 1rem 0;
}
.gap-02 {
  gap: 0.2rem;
}
.gap-03 {
  gap: 0.3rem;
}
.gap-05 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
