<div class="scoreboard" id="scoreboard">
	<div class="scoreboard-header" id="scoreboardHeader">
		<span></span>
		<h3 class="scoreboard-title" id="scoreboardTitle"></h3>
		<label class="switch" id="switchContainer">
			<input id="switchBtn" type="checkbox" />
			<div class="slider"></div>
		</label>
	</div>
	<div class="guess-list-header" id="guessListHeader">
		<span>#</span>
		<span>Player</span>
		<span>Streak</span>
		<span>Distance</span>
		<span>Score</span>
	</div>
	<div class="guess-list-container" id="guessListContainer">
		<div class="guess-list" id="guessList"></div>
	</div>
</div>
