@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* SCOREBOARD */
#scoreboardContainer {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	pointer-events: none;
}

.scoreboard {
	z-index: 9999;
	position: relative;
	overflow: hidden;
	top: 5px;
	left: 5px;
	width: 380px;
	height: 320px;
	min-width: 380px;
	min-height: 280px;
	max-width: 1800px;
	max-height: 950px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.479);
	font-family: "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 10px;
	pointer-events: auto;
	cursor: move;
}

.scoreboard-header {
	display: grid;
	grid-template-columns: 50px auto 33px;
	align-items: center;
	padding: 10px;
}

.scoreboard-title {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.guess-list-header {
	display: grid;
	grid-template-columns: 20px minmax(110px, 1fr) 60px 100px 75px;
	font-size: 16px;
	padding: 5px;
	margin-bottom: 2px;
	background-color: rgba(43, 43, 43, 0.445);
}

.guess-list-container {
	height: calc(100% - 71px);
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.guess-list {
	position: relative;
	box-sizing: border-box;
	text-align: center;
}

.guess-item {
	display: grid;
	grid-template-columns: 20px minmax(110px, 1fr) 60px 100px 75px;
	background-color: rgba(73, 73, 73, 0.356);
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	padding: 5px;
	margin-bottom: 2px;
}
.guess-item:hover {
	background-color: rgba(43, 43, 43, 0.445);
}

.username {
	text-shadow: -0.04em 0.04em 0px #000;
}

.truncate-long-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #db5736;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: rgb(238, 238, 238);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: #36db80;
}
input:focus + .slider {
	box-shadow: 0 0 1px #21f39c;
}
input:checked + .slider:before {
	-webkit-transform: translateX(20px);
}

/* UI DRAGGABLE */
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	display: block;
	font-size: 0.1px;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 15px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	width: 100%;
	height: 15px;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 15px;
	height: 100%;
	top: 0;
	right: -5px;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 15px;
	height: 100%;
	top: 0;
	left: -5px;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	bottom: 1px;
	right: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	bottom: -5px;
	left: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	top: -5px;
	left: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	top: -5px;
	right: -5px;
}

.expand {
	animation: expand 0.3s ease-in-out;
}
@keyframes expand {
	from {
		transform: scale(0);
		opacity: 0;
	}
}
