@font-face {
	font-family: Comfortaa;
	src: url(asset:fonts/Comfortaa-Regular.ttf) format("ttf");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Comfortaa;
	src: url(asset:fonts/Comfortaa-Bold.ttf) format("ttf");
	font-weight: 700;
	font-style: normal;
}

:root {
    --clr-primary: #59ffd8;
    --clr-secondary: #a159ff;
    --clr-notice: #fbfd70;
    --clr-danger: #ff8e65;
    --bg-color: #252525;
}

html {
	background: var(--bg-color);
	font-family: "Comfortaa", sans-serif;
	font-size: 14px;
	color: #fff;
	letter-spacing: 0.03rem;
	-webkit-font-smoothing: antialiased;
    font-weight: 300;
}

.container {
	padding: 0.5rem;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card,
.notif {
	background: rgba(180, 180, 180, 0.1);
	border-radius: 5px;
	box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.15);
	padding: 0.5rem;
}
.notif {
	margin: 0 auto;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	grid-gap: 0.5rem;
}

@media only screen and (min-width: 600px) {
	.cards {
		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	}
}

.btn {
	font-family: inherit;
	border: 0;
	border-radius: 5px;
	outline: 0;
	position: relative;
	color: rgb(255, 255, 255);
	padding: 10px;
	font-weight: 700;
	margin: 2px;
	cursor: pointer;
	background: none;
	transition: transform 100ms ease-in-out;
	box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.btn:hover {
	transform: translateY(1px);
}
.btn:active {
	transform: translateY(2px);
}

.btn-sep {
	width: 100%;
	padding-left: 30px;
}
.btn-sep:before {
	font-weight: 300;
	font-family: "FontAwesome";
	background: var(--clr-primary);
	color: black;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 1.6;
	font-size: 1.5rem;
	width: 40px;
}
.btn-sep:after {
	content: "";
	position: absolute;
}

.danger {
    background: var(--clr-danger);
    color: black;
}

.btn.twitch {
    background: var(--clr-secondary);
    color: white;
}