@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
*,
::after,
::before {
	margin: 0;
	box-sizing: border-box;
}
p {
	padding: 1rem 0;
}
body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.container {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	font-family: Montserrat, sans-serif;
	color: #fff;
	-webkit-app-region: drag;
	-webkit-user-select: none;
	user-select: none;
}
.btn {
	width: 100%;
	margin: auto;
	padding: 16px 32px;
	margin-bottom: 4px;
	font-family: inherit;
	font-weight: 700;
	color: #fff;
	border: none;
	-webkit-app-region: no-drag;
	cursor: pointer;
}
.save {
	background: #5ad497;
}
.save:hover {
	background: #56ca90;
}
.save:active {
	background: #4eb883;
}
.danger {
	background: #c9534e;
}
.danger:hover {
	background: #bd4e4a;
}
.danger:active {
	background: #b64945;
}
.hidden {
	display: none;
}
.one,
.three,
.two {
	opacity: 0;
	-webkit-animation: dot 1.3s infinite;
	animation: dot 1.3s infinite;
}
.one {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.two {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.three {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
@-webkit-keyframes dot {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes dot {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
