name: CI

on: [push, pull_request]

env:
  VITE_CG_PUBLIC_URL: ${{secrets.VITE_CG_PUBLIC_URL}}
  VITE_CG_API_URL: ${{secrets.VITE_CG_API_URL}}
  VITE_SOCKET_SERVER_URL: ${{secrets.VITE_SOCKET_SERVER_URL}}
  VITE_SUPABASE_URL: ${{secrets.VITE_SUPABASE_URL}}
  VITE_SUPABASE_ANON_KEY: ${{secrets.VITE_SUPABASE_ANON_KEY}}

jobs:
  types:
    name: Types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      - name: Check types
        run: npm run typecheck
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  package:
    name: Package
    needs: [types, test]
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      # - name: Write .env
      #   run: node create-env.js
        # env:
        #   VITE_CG_PUBLIC_URL: ${{secrets.VITE_CG_PUBLIC_URL}}
        #   VITE_CG_API_URL: ${{secrets.VITE_CG_API_URL}}
        #   VITE_SOCKET_SERVER_URL: ${{secrets.VITE_SOCKET_SERVER_URL}}
        #   VITE_SUPABASE_URL: ${{secrets.VITE_SUPABASE_URL}}
        #   VITE_SUPABASE_ANON_KEY: ${{secrets.VITE_SUPABASE_ANON_KEY}}
      - name: Package
        run: npm run package
      - uses: actions/upload-artifact@v4
        with:
          name: Chatguessr-${{runner.os}}
          path: out/*/
