name: CI

on: [push, pull_request]

jobs:
  types:
    name: Types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17.x
      - name: Install dependencies
        run: npm ci
      - name: Check types
        run: npm run typecheck
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17.x
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  package:
    name: Package
    needs: [test, types]
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17.x
      - name: Install dependencies
        run: npm ci
      - name: Write .env
        run: node create-env.js
        env:
          CG_PUBLIC_URL: ${{secrets.CG_PUBLIC_URL}}
          CG_API_URL: ${{secrets.CG_API_URL}}
          SOCKET_SERVER_URL: ${{secrets.SOCKET_SERVER_URL}}
          SENTRY_DSN: ${{secrets.SENTRY_DSN}}
          SUPABASE_URL: ${{secrets.SUPABASE_URL}}
          SUPABASE_ANON_KEY: ${{secrets.SUPABASE_ANON_KEY}}
          TWITCH_CLIENT_ID: ${{secrets.TWITCH_CLIENT_ID}}
      - name: Package
        if: ${{github.ref_type != 'tag'}}
        run: npm run package
      - name: Publish
        if: ${{github.ref_type == 'tag'}}
        run: npm run publish
        env:
          GITHUB_TOKEN: ${{github.token}}
      - uses: actions/upload-artifact@v3
        with:
          name: Chatguessr-${{runner.os}}
          path: out/*/
