@font-face {
    font-family: Montserrat;
    src: url(asset:fonts/montserrat-regular-webfont.woff2) format("woff2"),
        url(asset:fonts/montserrat-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
h2,
h3 {
    margin: 0.8rem 0;
}
a {
    color: #70e2a9;
    text-decoration: inherit;
    -webkit-app-region: no-drag;
}
a:hover {
    color: #8ce9ba;
}
input,
label,
textarea,
button {
    -webkit-app-region: no-drag;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
textarea {
    resize: vertical;
}
hr {
    margin: 1rem;
    border: 1px solid #70e2a9;
}
small {
    font-size: 0.8rem;
}
.settings-container {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    font-family: Montserrat, sans-serif;
    color: #fff;
    border-radius: 0.3rem;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}
.grid__col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.tab {
    overflow: hidden;
    border-radius: 0.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px;
}
.tab button {
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    height: 40px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    -webkit-app-region: no-drag;
}
.tablinks {
    background: #2e2e2ead;
}
.tablinks:hover {
    background: #4fc489;
}
.tablinks.active {
    background: #70e2a9;
}
.tabcontent {
    display: none;
    padding: 0.5rem 1rem;
    border-top: none;
}
.close {
    background: #c91414;
}
.close:hover {
    background: #a02727;
}
.close:active {
    background: #a02727;
}
.form__group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.form__field {
    font-family: inherit;
    /* font-size: 1rem; */
    border: 0;
    outline: 0;
    color: #fff;
    background: none;
    border-bottom: 1px solid #fff;
}
.form__field:focus {
    font-weight: 700;
    border-color: #70e2a9;
}
textarea.form__field {
    width: 100%;
}
.form__label {
    font-weight: 700;
}
.btn {
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 0.5rem;
    border: none;
    color: #000;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    cursor: pointer;
}
.btn:focus {
    outline: 0;
}

input[type="number"] {
    padding: 0.18rem 0;
    background: #292929;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    overflow: hidden;
    outline: 0;
    cursor: pointer;
}
input[type="number"]:focus {
    border-color: #70e2a9;
}

.checkbox-container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    cursor: pointer;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background: #eee;
}
.checkbox-container:hover input ~ .checkmark {
    background: #dddddd;
}
.checkbox-container input:checked ~ .checkmark {
    background: #55cf92;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 5px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
[data-tip] {
    position: relative;
}
[data-tip]:before {
    content: "";
    display: none;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}
[data-tip]:after {
    width: 200px;
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 35px;
    right: 0;
    padding: 12px;
    background: #fff;
    color: #1a1a1a;
    z-index: 999;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    word-wrap: break-word;
    text-align: center;
}
[data-tip]:hover:after,
[data-tip]:hover:before {
    display: block;
}

.flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
}
.wrap {
    flex-wrap: wrap;
}
.gap-05 {
    gap: 0.5rem;
}
.w-full {
    width: 100%;
}
.success {
    background: #5ad497;
}
.success:hover {
    background: #56ca90;
}
.success:active {
    background: #4eb883;
}
.danger {
    background: #c9534e;
}
.danger:hover {
    background: #bd4e4a;
}
.danger:active {
    background: #b64945;
}
#bannedUsersList {
    -webkit-app-region: no-drag;
}
.badge {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
